@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Mitarbeiter Name</th>
        <th>Bereich</th>
        <th>Beschreibung</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-danger">Löschen</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Details</a></td>


        </tr>
    }
</table>

<a href="/Testimonial/AddTestimonial" class="btn mb-1 btn-rounded btn-outline-info">Neuer Referenz</a>