
@model List<ResultTestimonialDto>

<div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gäste Bewertungen</h4>
            <div id="activity">
                @foreach (var item in Model)
                {
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <div class="media-body">
                            <h5>@item.Name</h5>
                            <p class="mb-0">@item.Description</p>
                        </div><span class="text-muted ">@item.Title</span>
                    </div>
                }
        </div>
    </div>
</div>
</div>