@model List<ResultWorkLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Standort</th>
        <th>Stadt</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.WorkLocationID</th>
            <td>@item.WorkLocationName</td>
            <td>@item.City</td>
            <td><a href="/WorkLocation/DeleteWorkLocation/@item.WorkLocationID" class="btn mb-1 btn-rounded btn-outline-danger">Löschen</a></td>
            <td><a href="/WorkLocation/UpdateWorkLocatiin/@item.WorkLocationID" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
        </tr>
    }
</table>

<a href="/WorkLocation/AddWorkLocation" class="btn mb-1 btn-rounded btn-outline-info">Neuer Standort</a>