@model UpdateRoomDto
@{
    ViewData["Title"] = "UpdateRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="RoomID" />
    <label>Zimmer Nummer</label>
    <input type="text" asp-for="RoomNumber" class="form-control" />
    <br />
    <label>Titel</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Beschreibung</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Preis</label>
    <input type="text" asp-for="PricePerNight" class="form-control" />
    <br />
    <label>Foto Url</label>
    <input type="text" asp-for="RoomCoverImage" class="form-control" />
    <br />
    <label>Anzahl Bett</label>
    <input type="text" asp-for="BedCount" class="form-control" />
    <br />
    <label>Anzahl Badezimmer</label>
    <input type="text" asp-for="BathCount" class="form-control" />
    <br />
    <label>Wifi</label>
    <input type="text" asp-for="Wifi" class="form-control" />
    <br />
    <button class="btn btn-primary">Hinzufügen</button>
</form>



