@model AddRoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Neue Rolle</h1>

<form method="post" asp-action="AddRole" asp-controller="Role">
    <label>Rolle</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Hinzufügen</button>

</form>
