<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personal</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Bewertungen</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Service</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Über uns</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Zimmer</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Buchungen</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Nachrichten</span>
                </a>
            </li>
            <li>
                <a href="/AdminEmail/Inbox" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Email</span>
                </a>
            </li>
            <li>
                <a href="/AdminFileImage/Index" aria-expanded="false">
                    <i class="icon-paper-clip menu-icon"></i><span class="nav-text">Foto hochladen</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Users</span>
                </a>
            </li>

        </ul>
    </div>
</div>